{{ $sidebar := .Site.Data.sidebar }}
{{ $social := .Site.Data.social }}
{{ $config := .Site.Data.config }}

<section id="sidebar" class="sidebar d-flex text-center">
  <div class="main-info">

    <img src="{{.Site.BaseURL}}images/{{ $sidebar.displayPicture }}" class="rounded-circle mb-5 hvr-glow" width="160px">

    <h1 class="heading">{{ $sidebar.title }} <br> <span class="heading ">{{ $sidebar.highlightedText }}</span></h1>
    <p class="description text-muted">{{ $sidebar.description | safeHTML }}</p>

    <div class="social my-5">

      {{ range $key, $value := $social }}
        <a target="_blank" href="{{ $value }}">
          <i class="{{ $key }} hvr-buzz-out"></i>
        </a>
      {{ end }}

    </div>
    {{ if $config.showContactForm }}
    <a href="https://dabe.design/davidecabitza.pdf" class="btn btn-primary btn-block mb-2">Curriculum Vitae</a>
    <a href="#contact" class="btn btn-dark btn-block hvr-glow">Contact</a>
    {{ end }}

  </div>







</section>
