{{ partial "header.html" . }}
{{ partial "nav.html" . }}

<div class="mt-4">
  <div class="row d-flex justify-content-center">
    <div class="col-12 col-lg-6 mt-4 mt-sm-0">
        <h1 class="text-center my-5">{{ .Title }}</h1>
        <article>
          {{ .Content }}
        </article>
    </div>
  </div>
</div>

<div class="text-center my-5">
  <a class="text-dark" href="{{ .Site.BaseURL }}work">↽ Back</a>

</div>

<div class="footer align-text-bottom">
  <p class="text-muted">
      Created with <i class="fa fa-heart"></i> by
      <a target="_blank" href="https://dabe.design">dabe.design</a>

    </p>
</div>
{{ partial "footer-scripts.html" . }}
